<!DOCTYPE html>
<html lang="en">
<head>
    <title>GPI - the GIMP Plugin Index</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script type="text/javascript">
        window.onload = function() {
            submit = document.getElementById('email_submit');
            submit.onclick = sendEmail;
        }

        function processEmail() {
            var result = JSON.parse(this.responseText);
            console.log(result);
            if(result.status) {
                var success_box = document.createElement('div');
                var message = document.createTextNode('Thanks for signing up!');
                success_box.appendChild(message);
                success_box.id = 'message';
                var email_container = document.getElementById('email_container');
                email_container.appendChild(success_box);
                document.getElementById('email').remove();
            }

            else {
                if (document.getElementById('message')) {
                    document.getElementById('message').innerHTML = result.errortext;
                } else {
                    var failbox = document.createElement('div');
                    var message = document.createTextNode(result.errortext);
                    failbox.appendChild(message);
                    failbox.id = 'message';
                    var email = document.getElementById('email');
                    email.appendChild(failbox);
                }
            }
        }

        function sendEmail() {
            email_address = document.getElementById('email_box');
            request = new XMLHttpRequest();
            request.onload = processEmail;
            request.open('POST', '/add_email?email=' + email_address.value);
            request.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            request.send();
        }
    </script>
</head>
<body>
    <div id="main">
    <h1>What is GPI?</h1>
        <div><p>GIMP, the GNU Image Manipulation Program, is a fantastic piece
        of software. One of its coolest features is its third-party plugins API,
        which allows users of the software like you and me to take it and
        make it do what we want it to. However, until now, managing plugins
        sucked.</p>

        <p>GPI is a new tool that is designed to make it easy for you as a GIMP
        user to manage your plugins. Rather than dragging and dropping files
        into a folder somewhere on your hard drive, now you can just tell GPI
        to install a plugin. In seconds, it's done!</p>
        </div>
    <h1>Installing GPI</h1>
        <div><p>Currently, GPI has been tested on Linux only. We gladly accept
        pull requests, however, and would love to get it working on Mac OS X and
        Windows.</p>

        <p>GPI is available from the Python package management tool
        <span class="code">pip</span>. Installing it is super easy:</p>
            <div class="codeblock">
                $ pip install gpi
            </div>
        <p>Now, GPI is ready to be used. To install a package, just type
        <span class="code">gpi install package</span>, like so:</p>
            <div class="codeblock">
                $ gpi install imguruploader
            </div>
        <p>To uninstall a plugin you've already installed, just use
        <span class="code">gpi uninstall package</span>:</p>
            <div class="codeblock">
                $ gpi install imguruploader
            </div>
        </div>
    <h1>Adding your plugin</h1>
        <div><p>If you're a plugin developer, you can get your package added to
        the GPI repository. The process isn't currently automated, though we
        hope to have it be so soon. For now, just fill out this email form, and
        we'll get back to you as soon as possible:</p></div>
        <div id="email_container">
            <div id="email">
                <input id="email_box" type="text" name="email" placeholder="your@email.com"></input>
                <input id="email_submit" type="submit" value="▶"></input>
            </div>
        </div>
    </div>
</body>
</html>
